.table-field{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    .table-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        padding: 0;

        .table-title{
            font-size: 18px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .btn-export{
            width: 90px;
            height: 28px;
            border-radius: 6px;
            border: 1px solid #BBBBBB;
            font-weight: bold;
            font-size: 13px;
            color: #BBBBBB;
            background-color: transparent;
            cursor: pointer;

            &:hover{
                color: white;
                border-color: white;
                background-color: rgba(255,255,255,0.1);
            }
        }
    }

    .options-row{
        display: flex;
        flex-direction: row;
        
        .select-group{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 20px;
            margin-top: 12px;

            label{
                margin-bottom: 6px;
                font-weight: bold;
            }

            select{
                height: 26px;
                box-sizing: border-box;
                padding-right: 30px;
                border-radius: 4px;
                background-color: white;
                border: 1px solid #BBBBBB;
                height: 36px;
                width: 160px;
                padding-left: 6px;
                background: none;
                padding-right: 10px;
            }
        }
    }
}

.white{
    margin-top: 4px;
    color: white;
}

.none{
    display: none;
}

#scalarValueParcellation{
    background-color: white;
}

#methodValue{
    background-color: white;
}