@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

.container.scalable {
    width: 95%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
    display: none;
}

/* General
___________________________________________________*/

#bottom-row .graph-title, #second-bottom-row .graph-title, #third-bottom-row .graph-title {
    margin: 3rem 0 -2rem 3rem;
}

.graph-title {
    margin: 3rem 0 0 3rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}


/* Top-row
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dash-spreadsheet-menu {
    flex-direction: row-reverse !important;
    padding: 5px;
}

.table-options {
    display: flex;
    flex-direction: row;
    padding: 5px;  
}

.table-options-title {
    font-size: 2rem;
    line-height: 1;
    padding: 0 5px 0 0;

}

.options-dropdown {
    width: 150px;
    padding: 0 25px 0 0;
}

#top-row {
    background-color: #192444;
    padding: 0 0 0 0;
    display: flex;
}

@media (min-width: 1400px) {
    #top-row {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1400px) {
    #top-row {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Top-row-left-header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#top-row-header {
    display: flex;
    justify-content: center;
    background-color: #1f2c56;
    padding: 9rem 3rem 3rem 3rem;
    margin: 0px 30px;
    width: 
}

#quality-button-container {
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}


#instruct {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
    color: white;
    padding: 2rem;

}

@media only screen and (max-width: 750px) {
    #banner h6 {
        font-size: 3rem;
    }

    #instructions {
        font-size: 1.25rem;
    }

    .banner Img {
        height: 3.5rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    #banner h6 {
        font-size: 3rem;
    }

    #instructions {
        font-size: 1.25rem;
    }

    .banner Img {
        height: 3rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    #banner h6 {
        font-size: 2.5rem;
    }

    #instructions {
        font-size: 1.1rem;
    }

    
    .banner Img {
        height: 3rem;
        margin-bottom: 2rem;
    }

    #header-container .graph-title{
        font-size: 1.25rem;
    }

}

@media (min-width: 1401px) {
    #top-row-header {
        flex-grow: 1;
        padding: 6rem 3rem 3rem 3rem;
    }

    .banner h6 {
        width: 35rem;
    }

    #instructions {
        width: 30rem;
    }

    #operator-select {
        width: 35rem;
    }
}

@media only screen and (max-width: 1400px) {
    #top-row-header {
        flex-grow: 1;
    }
}


/* Top-row-graphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#top-row-graphs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    margin: 8rem 0 4rem 0;
}

#left-panel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center; 
}

#right-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.numcard{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
}

.titlecard{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 350;
    color: white;
    margin: 0;
}

#summary-card-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
}

#summary-card {
    border-radius: 20px;
    border-color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0);
    margin: 0 0 4rem 8rem;
    width: 250px;
}

#header-container {
    width: 600px;
}


#subject-list-container .graph-title, #group-list-container .graph-title, #header-container .graph-title, #quality-container .graph-title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

#subject-list-container {
    margin-left: 4rem;
}


#subject-list-container table, #group-list-container table {
    --accent: gray;
    --selected-background: darkblue;
    --selected-color: black;
}

#button-container {
    margin-top: 250px;
}


.tabclass {
    color:#586069;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 12px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex !important;
    align-items: center;
    justify-content: center;   
}

.tabclass-selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}

.modal-backdrop {
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 700px) {
    #top-row-graphs {
        flex-direction: column;
    }

    #left-panel, #right-panel {
        width: 100%;
    }



@media (min-width: 1001px) and (max-width: 1400px) {
    #top-row-graphs {
        flex-direction: row;
        align-items: stretch;
    }
}

@media (min-width: 1401px) {
    #top-row-graphs {
        display: flex;
        padding: 15rem 0 5rem 0;
        flex-direction: row;
        align-items: stretch;
    }
}

@media (min-width: 1551px) {

    #top-row .legendtext {
        font-size: 1.25rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.25rem !important;
    }

    .ytick text, .xtick text {
        font-size: 1.1rem !important;
    }

}

@media (max-width: 1550px) {
    #ternary-map * {
        font-size: 0.85rem;
    }

    #top-row .legendtext {
        font-size: 1.25rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.25rem !important;
    }

    .ytick text, .xtick text {
        font-size: 1.1rem !important;
    }

}

@media (max-width: 1400px) {
    #ternary-map * {
        font-size: 0.9rem;
    }

    #top-row .legendtext {
        font-size: 1.25rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.25rem !important;
    }

    .ytick text, .xtick text {
        font-size: 1.1rem !important;
    }

}

@media (max-width: 1000px) {
    #top-row {
        padding: 0 0;
    }

    #ternary-map {
        margin-left: -6.5rem;
    }

    #ternary-map * {
        font-size: 1rem;
    }

    #top-row .legendtext {
        font-size: 1.25rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.25rem !important;
    }

    .ytick text, .xtick text {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 750px) {
    /*For some reason, at around 700px, a font-size is set to the ternary map text, so !important tag is needed to
    override it*/
    #ternary-map * {
        font-size: 1.1rem !important;
    }

    #top-row .legendtext {
        font-size: 1.25rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.25rem !important;
    }

    .ytick text, .xtick text {
        font-size: 1.1rem !important;
    }

    .hovertext text{
        font-size: 1.1rem !important;
    }
}

@media (max-width: 550px) {
    .graph-title {
        font-size: 1.5rem;
    }

    /*#mapbox-view-selector, #*/
    #group-list-container {
        margin-bottom: 0;
    }

    #group-list-header {
        position: relative;
        z-index: 3;
    }

    #ternary-map {
        position: relative;
        margin: -3rem 0 0 -6.5rem;
        z-index: 1;
    }

    #ternary-map * {
        font-size: 1.8vw !important;
    }

    #top-row .legendtext {
        font-size: 1.1rem !important;
    }

    .atitle, .btitle, .ctitle {
        font-size: 1.1rem !important;
    }

    .ytick text, .xtick text {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 400px) {
    #ternary-map * {
        font-size: 2vw !important;
    }

    #top-row {
        position: relative;
        z-index: 0;
    }

    #bottom-row, #second-bottom-row, #third-bottom-row {
        position: relative;
        z-index: 1;
        margin-top: -5rem;
        height: 15rem;
        justify-content: center;
    }

    #ternary-map {
        margin: -7rem 0 0 -6.5rem;
    }

    .hovertext text{
        font-size: 0.9rem !important;
    }
}

@media (max-width: 350px) {
    #well-map{
        height: 35rem;
    }
    #bottom-row, #second-bottom-row, #third-bottom-row {
        margin-top: -8rem;
    }

    #ternary-map {
        margin: -9rem 0 0 -6.5rem;
    }
}

/* Bottom row
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media (max-width: 1000px) {
    #bottom-row, #second-bottom-row, #third-bottom-row {
        height: 15rem;
        display: flex;
        flex-direction: column;
        padding: 5rem 4vw;
    }

    #form-bar-container, #well-production-container {
        width: 100%;
        margin: 0;
    }

    #form-bar-container {
        margin-bottom: 5rem;
    }
}

@media (max-width: 550px) {
    #bottom-row .xtitle, #bottom-row .ytitle, #second-bottom-row .xtitle, #third-bottom-row .xtitle, #second-bottom-row .ytitle, #third-bottom-row .ytitle{
        font-size: 1.2rem !important
    }
}

@media (max-width: 550px) {
    #bottom-row .xtitle, #bottom-row .ytitle, #second-bottom-row .xtitle, #third-bottom-row .xtitle, #second-bottom-row .ytitle, #third-bottom-row .ytitle {
        font-size: 1rem !important
    }
    #bottom-row .legendtext, #second-bottom-row .legendtext, #third-bottom-row .legendtext {
        font-size: 0.8rem !important;
    }
}